%h1 ユーザー情報 一覧

.main_contents.detail
  -if flash[:message].present?
    .flash= flash[:message]
  -elsif flash[:notice].present?
    .flash= flash[:notice]
  #detail_table
    .count= "全 #{@users_count} 件"
    %table.detail
      %tbody
        %tr
          %th= I18n.t('attributes.id')
          %th.detail= I18n.t('attributes.email')
          %th.detail= I18n.t('attributes.current_sign_in_at')
          %th.detail= I18n.t('attributes.created_at')
          %th.detail= I18n.t('attributes.updated_at')
          %th.icon= I18n.t('attributes.detail')
          %th.icon= I18n.t('attributes.delete')
        -if @users.present?
          -@users.each do |user|
            %tr
              %td
                = user.id
              %td.detail
                = user.email
              %td.detail
                = l user.current_sign_in_at if user.current_sign_in_at.present?
              %td.detail
                = l user.created_at
              %td.detail
                = l user.updated_at
              %td.icon
                = link_to admin_user_detail_path(id: user.id) do icon("far", "sticky-note") end
              %td.icon
                = link_to admin_user_detail_path(id: user.id), method: :delete, data: { confirm: I18n.t('message.delete_user') } do
                  = icon("far", "trash-alt")
        -else
          %tr
            %td= I18n.t('message.not_data')
  .pagination= paginate @users