%h1 ユーザー情報 一覧

.search_contents
  = search_form_for @q, class: "clearfix", url: admin_user_details_path do |f|
    .left_menu
      .field
        = f.label :email, I18n.t('attributes.email')
        = f.search_field :email_cont
      .field
        = f.label :user_detail_company_name, I18n.t('attributes.company_name')
        = f.search_field :user_detail_company_name_cont
      .field
        = f.label :user_detail_department_name, I18n.t('attributes.department_name')
        = f.search_field :user_detail_department_name_cont
    .right_menu
      .field
        = f.label :user_detail_name, I18n.t('attributes.name')
        = f.search_field :user_detail_name_cont
      .field
        = f.label :user_detail_phone_number, I18n.t('attributes.phone_number')
        = f.search_field :user_detail_phone_number_cont
      .field.sign_in_at
        = f.label :current_sign_in_at, I18n.t('attributes.current_sign_in_at')
        = f.date_field :current_sign_in_at_gteq
        = f.date_field :current_sign_in_at_lteq_end_of_day
    .actions
      = f.submit "検索"

.main_contents.detail
  -if flash[:message].present?
    .flash= flash[:message]
  -elsif flash[:notice].present?
    .flash= flash[:notice]
  #detail_table
    .count= "全 #{@users_count} 件"
    %table.detail
      %tbody
        %tr
          %th= I18n.t('attributes.id')
          %th.detail= I18n.t('attributes.email')
          %th.detail= I18n.t('attributes.current_sign_in_at')
          %th.detail= I18n.t('attributes.created_at')
          %th.detail= I18n.t('attributes.updated_at')
          %th.icon= I18n.t('attributes.detail')
          %th.icon= I18n.t('attributes.delete')
        -if @users.present?
          -@users.each do |user|
            %tr
              %td
                = user.id
              %td.detail
                = user.email
              %td.detail
                = l user.current_sign_in_at if user.current_sign_in_at.present?
              %td.detail
                = l user.created_at
              %td.detail
                = l user.updated_at
              %td.icon
                = link_to admin_user_detail_path(id: user.id) do icon("far", "sticky-note") end
              %td.icon
                = link_to admin_user_detail_path(id: user.id), method: :delete, data: { confirm: I18n.t('message.delete_user') } do
                  = icon("far", "trash-alt")
        -else
          %tr.no_data
            %td= I18n.t('message.not_data')
  .pagination= paginate @users