
=render partial: 'users/shared/top_contents', locals: { title: I18n.t("attributes.title.mypage"),
                                                               title_en: I18n.t("attributes.title.mypage_en") }
.main_contents.mypage.edit_confirm
  .main_menu
    %h2= "#{I18n.t("attributes.title.confirm")}"
    = form_with model: @user, url: users_mypage_path(current_user.id), method: "patch", local: true do |f|
      .mypage_form
        =render partial: 'users/shared/user_form', locals: { user: @user }
        =render partial: 'users/shared/confirm', locals: { user: @user, f: f }
      .actions
        = f.submit I18n.t("attributes.back"), class: "btn back", name: :back
        = f.submit I18n.t("attributes.update"), class: "btn"
  =render partial: 'users/shared/side_menu'