
=render partial: 'users/shared/top_contents', locals: { title: I18n.t("attributes.title.mypage"),
                                                               title_en: I18n.t("attributes.title.mypage_en") }
.main_contents.mypage.password
  .main_menu
    %h2= "#{I18n.t("attributes.password")} #{I18n.t("attributes.edit")}"
    = form_for(current_user, url: password_update_users_mypage_path) do |f|
      = render partial: "users/shared/error_messages", locals: { errors: current_user.errors.full_messages }
      .mypage_form
        .field
          = f.password_field :current_password, placeholder: I18n.t("attributes.placeholder.now_password")
        .field
          = f.password_field :password, placeholder: "#{I18n.t("attributes.placeholder.password")}(#{I18n.t("attributes.placeholder.password")})"
        .field
          = f.password_field :password_confirmation, placeholder: I18n.t("attributes.placeholder.re_password")
      .actions
        = f.submit I18n.t("attributes.update"), class: "btn"
  =render partial: 'users/shared/side_menu'