
= render partial: "users/shared/error_messages", locals: { errors: current_user.errors.full_messages }
= form_for(current_user, url: password_update_users_mypage_path) do |f|
  .field
    = f.password_field :current_password, placeholder: I18n.t("attributes.placeholder.now_password")
    = f.password_field :password, placeholder: "#{I18n.t("attributes.placeholder.new_password")}(#{I18n.t("attributes.placeholder.password")})"
    = f.password_field :password_confirmation, placeholder: I18n.t("attributes.placeholder.re_password")
  .actions
    = f.submit I18n.t("attributes.update")