.field
  %label= I18n.t("attributes.name")
  %p= @user.user_detail.name
.field
  %label= I18n.t("attributes.company_name")
  %p= @user.user_detail.company_name
.field
  %label= I18n.t("attributes.department_name")
  %p= @user.user_detail.department_name
.field
  %label= I18n.t("attributes.phone_number")
  %p= @user.user_detail.phone_number
.field
  %label= I18n.t("attributes.email")
  %p= @user.email