%h1 ユーザー情報 一覧画面

%div.main_contents
  %table
    %tr
      %th= I18n.t('attributes.id')
      %th= I18n.t('attributes.email')
      %th= I18n.t('attributes.current_sign_in_at')
      %th= I18n.t('attributes.created_at')
      %th= I18n.t('attributes.updated_at')
      %th= I18n.t('attributes.detail')
      %th= I18n.t('attributes.delete')
    -@users.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.email
        %td
          = l user.current_sign_in_at if user.current_sign_in_at.present?
        %td
          = l user.created_at
        %td
          = l user.updated_at
        %td
          = link_to admin_user_detail_path(id: user.id) do icon("far", "sticky-note") end
        %td
          = link_to admin_user_detail_path(id: user.id), method: :delete, data: { confirm: I18n.t('message.delete_user') } do
            = icon("far", "trash-alt")
  %div.paginate= paginate @users